.main-Btn {
    color: blue
}
.xcard {
    border: grey solid 1px;
    padding: 2rem;
}

img {
    border: 0;
    width: 300;
    height: 400;

}
.showings {
    display: flex;
}

.hide {
    display: none;
}

.single-details {
    padding: 20px 30px;
}

.award-title {
    padding: 5px 30px;
}

.review-title {
    padding: 5px 30px;  
}

.container {
    padding: 5px 30px;  
}